# To reload use this command : ` docker exec caddytailor_caddy_1 caddy reload --config /etc/caddy/Caddyfile `
{
	debug
}

*.localhost {
    root * /usr/share/caddy
    tls internal
    file_server
    templates
    route {
        try_files /subdomains/{http.request.host.labels.2}/{path} {path} index.html
        #try_files /subdomains/sample/{path} {path} index.html
    }

}