@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Glametrix';
    src: url('fonts/Glametrix.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glametrix';
    src: url('fonts/GlametrixBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glametrix';
    src: url('fonts/GlametrixLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 2.0833333333vw;
}

body {
    font-family: 'Glametrix', sans-serif;
}

@media (max-width: 768px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 1536px) {
    :root {
        font-size: 32px;
    }
}

.control {
    top: 50vh;
}

.control-right::after,
.control-left::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border: solid black;
    margin: .7rem 0 0 .75rem;
    border-width: 0 0.2rem 0.2rem 0;
}

.control-right::after {
    transform: rotate(-45deg);
}

.control-left::before {
    transform: rotate(135deg);
}

.control.disabled {
    display: none;
}

.diagonal-move {
    animation: diagonalMove 5s ease-in-out forwards;
    position: absolute;
}

@keyframes diagonalMove {
    0% {
        top: 100vh;
        right: 100vw;
        height: 0;
    }

    100% {
        bottom: 0;
        right: -12px;
        height: 60dvh;
    }
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counterclockwise {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.slow-rotating-clockwise {
    animation: rotate-clockwise 200s linear infinite;
}


.slow-rotating-counterclockwise {
    animation: rotate-counterclockwise 200s linear infinite;
}
