{{- $config :=index .Args 0 -}}

<!DOCTYPE html>
<html {{- if $config.lang }} lang="{{$config.lang}}"{{end}}>
    <head>
        <meta charset="utf-8">
        <title>{{- if $config.title -}}{{stripHTML $config.title}} | {{end}}{{- if $config.subDomainTitle -}}{{stripHTML $config.subDomainTitle}}{{end}}{{- if $config.siteTitle -}} | {{stripHTML $config.siteTitle}}{{end}}</title>
		{{- if $config.description -}}<meta name="description" content="{{ $config.description }}">{{- end -}}
        {{- include "/themes/core/favicon.html" $config -}}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script defer src="/themes/{{$config.theme}}/assets/script.js"></script>
        <link href="/themes/{{$config.theme}}/assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/themes/{{$config.theme}}/assets/stylesheet.css" rel="stylesheet" type="text/css" />
        <link href="/themes/{{$config.theme}}/assets/style.css" rel="stylesheet" type="text/css" />
        <link href="/themes/{{$config.theme}}/assets/all.min.css" rel="stylesheet" type="text/css" />
        {{- if $config.head -}}{{$config.head}}{{end}}
    </head>
    <body class="reading" {{if $config.bodyAttributes}}{{$config.bodyAttributes}} {{end}}>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">{{- include (printf "/themes/%s/menu.html" $config.theme) $config $config.rootdir "" -}}</nav>
        </header>

        {{- if $config.img2 -}}
			{{- if $config.imgStyle -}}
				<div class="img" style="background-image:url({{ $config.img2 }});{{ $config.imgStyle }}">
			{{- else -}}
				<div class="img" style="background-image:url({{ $config.img2 }})">
			{{- end -}}
        {{- else if $config.img -}}
			{{- if $config.imgStyle -}}
				<div class="img" style="background-image:url({{ $config.img }});{{ $config.imgStyle }}">
			{{- else -}}
				<div class="img" style="background-image:url({{ $config.img }})">
			{{- end -}}
		{{- end -}}
		{{- if $config.img -}}
				<div id="imgCredits">
					<span class="title">À propos de l'image</span><br>
					{{- if $config.imgAuthor -}}Auteur: {{ $config.imgAuthor }} - {{ end -}}
					{{- if $config.imgSrc -}}<a href="{{ $config.imgSrc }}">Source</a>{{- end -}}
					{{- if $config.imgLicence -}}<br>Licence: {{ $config.imgLicence }}{{- end -}}
				</div>
			</div>	
		{{- end -}}
				<div id="tools" class="position-sticky sticky-top">
					<div id="burger"><span class="fas fa-bars"></span></div>
					<div id="tools-wrapper">
							{{- if $config.epub -}}<a href="{{$config.epub}}" title="Téléchargez l'epub !" class="fa-solid fa-book"></a>{{- end -}}
							{{- if $config.pdf -}}<a href="{{$config.pdf}}" title="Téléchargez le PDF !" class="fas fa-file-pdf"></a>{{- end -}}
							{{- if $config.shares.facebook -}}<a title="Partagez sur Facebook !" class="fab fa-facebook-f" href="https://www.facebook.com/sharer.php?u=https://{{ .Host }}{{ .OriginalReq.URL }}{{ if $config.title }}&t={{ $config.title }}{{end}} "></a>{{- end -}}
							{{- if $config.shares.twitter -}}<a title="Partagez sur Twitter !" href="https://twitter.com/share?url=https://{{ .Host }}{{ .OriginalReq.URL }}{{ if $config.title }}&text={{ $config.title }}{{end}}{{ if $config.socials.twitter }}&via={{ $config.socials.twitter }}{{ end }}" class="fab fa-twitter"></a>{{- end -}}
							{{- if $config.shares.mail -}}<a title="Partager par mail !" href="mailto:?subject={{ $config.title }}&body=https://{{ .Host }}{{ .OriginalReq.URL }}" class="fas fa-envelope"></a>{{- end -}}
						</div>
					</div>
