  {{- $config :=index .Args 0 -}}
  {{- $content :=index .Args 1 -}}
  {{- include (printf "/themes/%s/head.html" $config.theme) $config -}}

      {{- $folders := list  -}}
      {{- $files := list  -}}

     {{- $listFile := listFiles $config.dir -}}
     {{- range $filePath := $listFile -}}
        {{- if ne $filePath "index.md"}}
            {{- $realFilePath := (printf "%s/%s" $config.dir $filePath) -}}
            {{- if hasSuffix ".md" $realFilePath -}}
                {{- $files = append $files $filePath -}}
            {{- end -}}
        {{- end -}}
     {{- end -}}
     {{- if $content -}}
        <div class="mw-40em text-center mx-auto">{{ markdown $content }}</div>
     {{- else if $config.description -}}
        <p class="mw-40em text-center mx-auto">{{ $config.description }}</p>
     {{- end -}}

        {{- range $file := $files -}}
            <ul class="mw-40em mx-auto list-unstyled">
                {{- $realFile := (printf "%s/%s" $config.dir $file) -}}
                {{- $contentFileContent := (include $realFile | splitFrontMatter) -}}
                {{- $fileConfig := $contentFileContent.Meta -}}
                {{- if $fileConfig.img}}<a href="{{if $config.urldir }}/{{$config.urldir}}{{end}}/{{ trimSuffix ".md" $file }}"><img src="{{$fileConfig.img}}" class="card-img-top" loading="lazy"></a>{{- end -}}
                <li>
                    <h2><a href="{{if $config.urldir }}/{{$config.urldir}}{{end}}/{{ trimSuffix ".md" $file }}">{{$fileConfig.title}}</a></h2>
                    {{- if $fileConfig.date -}}<div class="float-right ml-5 mb-2 small text-muted">{{$fileConfig.date}}</div>{{- end -}}
                    <p class="text-justify">{{if $fileConfig.description }}{{markdown $fileConfig.description}}{{end}}</p>
                    <div class="clearfix"><a href="{{if $config.urldir }}/{{$config.urldir}}{{end}}/{{ trimSuffix ".md" $file }}" class="card-link float-right btn btn-primary">Lire</a></div>
                </li>
            </ul>
        {{- end -}}

  {{- include (printf "/themes/%s/subdomains.html" $config.theme) $config -}}
  {{- include (printf "/themes/%s/foot.html" $config.theme) $config -}}
