{{- $config :=index .Args 0 -}}
{{- $content :=index .Args 1 -}}
{{- include (printf "/themes/%s/head.html" $config.theme) $config -}}

{{- $folders := list  -}}
{{- $files := list  -}}

{{- $listFile := listFiles $config.dir -}}
{{- range $filePath := $listFile -}}
	{{- if ne $filePath "index.md"}}
		{{- $realFilePath := (printf "%s/%s" $config.dir $filePath) -}}
		{{- if hasSuffix ".md" $realFilePath -}}
			{{- $files = append $files $filePath -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
{{- if $content -}}
	<div class="mw-40em text-center mx-auto">{{ markdown $content }}</div>
{{- else if $config.description -}}
	<p class="mw-40em text-center mx-auto">{{ $config.description }}</p>
{{- end -}}

{{- $files = reverse ($files|sortAlpha) -}}
{{- $counter := 0 -}}
{{- $float := "right ml-5" -}}
<ul class="mw-40em mx-auto list-unstyled">
	{{- range $file := $files -}}
		{{- $realFile := (printf "%s/%s" $config.dir $file) -}}
		{{- $contentFileContent := (include $realFile | splitFrontMatter) -}}
		{{- $fileConfig := $contentFileContent.Meta -}}
		{{- if $fileConfig.img -}}
			{{$counter = add1 $counter}}
			{{- if mod $counter 2 -}}
				{{- $float = "right ml-2" -}}
			{{- else -}}
				{{- $float = "left mr-2" -}}
			{{- end -}}
		{{- end -}}
		<li class="mx-2">
					{{- if $fileConfig.img}}
					<div class="float-{{$float}} w-50">
						<a href="{{if $config.urldir }}/{{$config.urldir}}{{end}}/{{ trimSuffix ".md" $file }}"><img src="{{$fileConfig.img}}" loading="lazy" class="w-100"></a><br>
					</div>
					{{- end -}}
			<h2>
				<a href="{{if $config.urldir }}/{{$config.urldir}}{{end}}/{{ trimSuffix ".md" $file }}">{{markdown $fileConfig.title}}</a>
			</h2>
			<div class="text-justify">
				{{if $fileConfig.description }}
					{{markdown $fileConfig.description}}
				{{end}}
			</div>
			<div class="clearfix">
					<a href="{{if $config.urldir }}/{{$config.urldir}}{{end}}/{{ trimSuffix ".md" $file }}" class="card-link float-right btn btn-primary mr-2 mb-2">Lire</a>
					{{- if $fileConfig.date -}}
					<div class="float-left  small text-muted mt-3">{{- $fileConfig.date -}}</div>
				{{- end -}}
			</div>
		</li>
	{{- end -}}
</ul>

{{- include (printf "/themes/%s/subdomains.html" $config.theme) $config -}}
{{- include (printf "/themes/%s/foot.html" $config.theme) $config -}}
