  {{- $config :=index .Args 0 -}}
  <main role="main" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
              {{- include (printf "/themes/%s/head.html" $config.theme) $config -}}

      {{- $folders := list  -}}
      {{- $files := list  -}}

     {{- $listFile := listFiles $config.dir -}}
     {{- range $filePath := $listFile -}}
        {{- if ne $filePath "index.md"}}
            {{- $realFilePath := (printf "%s/%s" $config.dir $filePath) -}}
            {{- if hasSuffix ".md" $realFilePath -}}
                {{- $files = append $files $filePath -}}
            {{- end -}}
        {{- end -}}
     {{- end -}}
     {{- if $config.description -}}
        <p class="mw-40em text-center mx-auto">{{ $config.description }}</p>
     {{- end -}}

    <div class="card-columns">
        {{- range $file := $files -}}
            <div class="card">
                {{- $realFile := (printf "%s/%s" $config.dir $file) -}}
                {{- $contentFileContent := (include $realFile | splitFrontMatter) -}}
                {{- $fileConfig := $contentFileContent.Meta -}}
                {{- if $fileConfig.img}}<a href="{{if $config.urldir }}/{{$config.urldir}}{{end}}/{{ trimSuffix ".md" $file }}"><img src="{{$fileConfig.img}}" class="card-img-top"></a>{{- end -}}
                <div class="card-body">
                    <h2 class="card-title"><a href="{{if $config.urldir }}/{{$config.urldir}}{{end}}/{{ trimSuffix ".md" $file }}">{{$fileConfig.title}}</a></h2>
                    <p class="card-text">{{replace "\n" "<br>" $fileConfig.description}}</p>
                    <a href="{{if $config.urldir }}/{{$config.urldir}}{{end}}/{{ trimSuffix ".md" $file }}" class="card-link float-right btn btn-primary">Lire</a>
                </div>
            </div>
        {{- end -}}
    </div>

  {{- include (printf "/themes/%s/foot.html" $config.theme) $config -}}
