* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}
  
nav ul{
    width: 100vw;
    height: 3rem;
    background: yellow;
    display: block;
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    padding: 0.5em;
}

div.page {
    width:100vw;
    min-height: calc(100vh - 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Chroma */
 .chroma { color: #cccccc; background-color: #000000; } .chroma .err {  } .chroma .lnlinks { outline: none; text-decoration: none; color: inherit } .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; } .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; } .chroma .hl { background-color: #191919 } .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #666666 } .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #666666 } .chroma .line { display: flex; } .chroma .k { color: #cdcd00 } .chroma .kc { color: #cdcd00 } .chroma .kd { color: #00cd00 } .chroma .kn { color: #cd00cd } .chroma .kp { color: #cdcd00 } .chroma .kr { color: #cdcd00 } .chroma .kt { color: #00cd00 } .chroma .nb { color: #cd00cd } .chroma .nc { color: #00cdcd } .chroma .ne { color: #666699; font-weight: bold } .chroma .nv { color: #00cdcd } .chroma .s { color: #cd0000 } .chroma .sa { color: #cd0000 } .chroma .sb { color: #cd0000 } .chroma .sc { color: #cd0000 } .chroma .dl { color: #cd0000 } .chroma .sd { color: #cd0000 } .chroma .s2 { color: #cd0000 } .chroma .se { color: #cd0000 } .chroma .sh { color: #cd0000 } .chroma .si { color: #cd0000 } .chroma .sx { color: #cd0000 } .chroma .sr { color: #cd0000 } .chroma .s1 { color: #cd0000 } .chroma .ss { color: #cd0000 } .chroma .m { color: #cd00cd } .chroma .mb { color: #cd00cd } .chroma .mf { color: #cd00cd } .chroma .mh { color: #cd00cd } .chroma .mi { color: #cd00cd } .chroma .il { color: #cd00cd } .chroma .mo { color: #cd00cd } .chroma .o { color: #3399cc } .chroma .ow { color: #cdcd00 } .chroma .c { color: #000080 } .chroma .ch { color: #000080 } .chroma .cm { color: #000080 } .chroma .c1 { color: #000080 } .chroma .cs { color: #cd0000; font-weight: bold } .chroma .cp { color: #000080 } .chroma .cpf { color: #000080 } .chroma .gd { color: #cd0000 } .chroma .ge { font-style: italic } .chroma .gr { color: #ff0000 } .chroma .gh { color: #000080; font-weight: bold } .chroma .gi { color: #00cd00 } .chroma .go { color: #888888 } .chroma .gp { color: #000080; font-weight: bold } .chroma .gs { font-weight: bold } .chroma .gu { color: #800080; font-weight: bold } .chroma .gt { color: #0044dd } .chroma .gl { text-decoration: underline }
