{{$defaultConfigFile := "default.config.yml"}}
{{$defaultConfigFileContent := (include $defaultConfigFile | splitFrontMatter)}}
{{$config := $defaultConfigFileContent.Meta}}

{{$hostDomains := split "." .Host}}
{{$contentDir := printf "subdomains/%s" $hostDomains._0}}
{{$configFilePath := printf "%s/.config.yml" $contentDir}}
{{if (fileExists $configFilePath)}}
    {{$configFileContent := (include $configFilePath | splitFrontMatter)}}
    {{$config = mergeOverwrite $config $configFileContent.Meta}}
{{end}}


{{$pathParts := splitList "/" .OriginalReq.URL.Path}}

{{$contentFilename := default "index" (slice $pathParts 1 | join "/")}}
{{$contentFilePath := printf "%s/%s.md" $contentDir $contentFilename}}
{{if (fileExists $contentFilePath)}}
    {{$contentFileContent := (include $contentFilePath | splitFrontMatter)}}
    {{$pageConfig := $contentFileContent.Meta}}
    {{$content := $contentFileContent.Body}}
    {{$config = mergeOverwrite $config $pageConfig}}

    {{$themePath := printf "themes/%s/" $config.theme}}
    {{$pageTemplate := printf "%s/page.html" $themePath}}
    {{include $pageTemplate $config $content}}
{{else}}
    {{$pathName := (slice $pathParts 1 | join "/")}}
    {{$pathPath := printf "%s/%s" $contentDir $pathName}}
    {{$pathPathDir := printf "%s/" $pathPath}}
    {{if and (fileExists $pathPath) (fileExists $pathPathDir)}}
        {{$themePath := printf "themes/%s/" $config.theme}}
        {{$pageTemplate := printf "%s/index.html" $themePath}}
        {{$config = $config | merge (dict "dir" $pathPath)}}
        {{include $pageTemplate $config}}
    {{else}}
        {{httpError 404}}
    {{end}}
{{end}}

- [X] Si le fichier de destination existe avec extension md, l'afficher avec le template page.
- [X] Si c'est un dossier dans lequel un fichier index.md existe, l'afficher avec le template page.
- [ ] Si c'est un dossier un dossier, l'afficher avec le template index.html.
- [ ] Sinon, erreur 404.